{% extends 'base.html' %}
{% block title %}To-Do one | Edit Item{% endblock %}
{% block content %}
    {% if item %}
        {{ item.question }}
        <form class="form-inline my-2 my-lg-0" method="POST">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="{{ item.question }}" value="{{ item.question }}" aria-label="Search" name="question">
          <input class="form-control mr-sm-2" type="search" placeholder="{{ item.answer }}" value="{{ item.answer }}" aria-label="Search" name="answer">
          <input class="form-control mr-sm-2" type="search" placeholder="{{ item.comment }}" value="{{ item.comment }}" aria-label="Search" name="comment">
          <input class="form-control mr-sm-2" type="search" placeholder="{{ item.dAnswer_2 }}" value="{{ item.dAnswer_2 }}" aria-label="Search" name="dAnswer_2">
          <input class="form-control mr-sm-2" type="search" placeholder="{{ item.dAnswer_3 }}" value="{{ item.dAnswer_3 }}" aria-label="Search" name="dAnswer_3">
          <input class="form-control mr-sm-2" type="search" placeholder="{{ item.dAnswer_4 }}" value="{{ item.dAnswer_4 }}" aria-label="Search" name="dAnswer_4">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edit one</button>
          <input type="hidden" value="{{ item.completed }}" name="completed" >
        </form>
    {% endif %}

{% endblock %}